body {
    line-height: 1.25em;
    zoom: 110%;
}

input {
    box-sizing: border-box;
    padding: 1px 2px;
    border: 0px;
}

input:not(:focus) {
    outline: 1px solid black;
}

* {
  font-family: 'Maestro';
  font-size: 16px;
}

.window {
    position: absolute;
    margin: 0.1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    z-index: -2;
}

.window:focus {
    /* it's -2 when there's no focus */
    z-index: -1;
}

.window-title {
    padding: 0.25em;
    padding-left: 0.4em;
    margin: 0px;
}

.window-content {
    padding: 0.2em;
    overflow: auto;
    height: 100%;
}

.window-content > * {
    height: 100%;
}

.overlay-wrapper {
  position: relative;
}

.overlay {
  z-index: 10;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}


.overlay-bottom-right {
  z-index: 10;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* spinner from https://codepen.io/mandelid/pen/vwKoe */
.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/* see yew_toolkit.rs */
replaceonhoverhack {
    display: block;
}

.fit-content {
    /*max-width: -moz-fit-content;*/
    max-width: fit-content;
    white-space: nowrap;
}

/* this is for right click menus */
.context_menu {
    z-index: 9999;
    position: fixed;
}

/* see YewToolkit.buttonized() */
.buttonized-hover-overlay:hover {
    opacity: 100 !important;
}

.all-drawn > * + .all-drawn > * {
    margin-top: 0.1em;
}
